%flexRow {
  display: flex;
  flex-direction: row;
}

%flexColumn {
  display: flex;
  flex-direction: column;
}

%fullWidth {
  width: 100%;
}

%fullHeight {
  height: 100%;
}

%justifyCenter {
  justify-content: center;
  align-items: center;
}

%justifyCenterEnd {
  justify-content: center;
  align-items: flex-end;
}

%justifyAroundCenter {
  justify-content: space-around;
  align-items: center;
}

%justifyBetween {
  justify-content: space-between;
}

.rootContainer {
  @extend %flexColumn;
  @extend %justifyCenter;
}

.topContainer {
  @extend %flexColumn;
  @extend %justifyBetween;
  font-family: "Open Sans, sans-serif";
  font-weight: lighter;
}

.columnContainer {
  @extend %flexRow;
  @extend %justifyBetween;
  margin: 20px;
}

.flexVerticle {
  @extend %flexColumn;
  @extend %justifyBetween;
  width: 15%;
}

.flexColAround {
  @extend %flexColumn;
  @extend %justifyAroundCenter;
}

.flexRowCenEnd {
  @extend %flexRow;
  @extend %justifyCenterEnd;
}

.bigLegand {
  font-size: 2.5vw;
  color: #adb5bd;
  align-self: flex-end;
  margin-right: 10px;
  opacity: 0.6;
}

.smallLegand {
  font-size: 0.7vw;
  color: #adb5bd;
  margin-left: 10px;
}

.baloonLegand {
  font-size: 0.7vw;
  text-align: center;
  color: #adb5bd;
}

.gradientBarLegand {
  font-size: 2vw;
}

.h40 {
  height: 40%;
}

.mt0 {
  margin-top: 0px;
}

.m20 {
  margin: 20px;
}

.chartCard {
  background: #162043;
  border-radius: 5px;
}

.chartCardGradient {
  background: linear-gradient(
    132deg,
    rgb(69, 57, 202) 20%,
    rgb(255, 89, 191) 95%
  );
  border-radius: 5px;
}

.triangleLegand {
  @extend %flexRow;
  @extend %fullWidth;
  font-weight: lighter;
  justify-content: space-around;
  color: #adb5bd;
}

.chart7Legand {
  font-size: 0.7vw;
  width: 80%;
}

.w27 {
  width: 27%;
}

.w35 {
  width: 35%;
}

.w47 {
  width: 47%;
}

.w80 {
  width: 80%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.h30 {
  height: 30%;
}

.flexRowCentered {
  @extend %flexRow;
  @extend %justifyCenter;
}

.flexColumnCentered {
  @extend %flexColumn;
  @extend %justifyCenter;

  color: #adb5bd;
}

.underlinedLegand {
  border-bottom: solid 0.2vw;
  width: 90%;
  text-align: center;
  font-size: 1vw;
}

.bPurple {
  border-color: #8e49e1;
}

.bRed {
  border-color: #d74060;
}

.bPink {
  border-color: #ea5ef8;
}
